<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barber Shop</title>
  </head>
  <body>
    <div class="wrapper">
      <h1>Welcome to the Best Barber Shop!</h1>
      <p>We are open!</p>
      <div class="form">
        <form action="/" method="post">
          <label for="user_name">Name:</label>
          <input type="text" name="user_name"><br>
          <br>
          <label for="phone">Phone:</label>
          <input type="text" name="phone"><br>
          <br>
          <label for="date_time">Time:</label>
          <input type="text" name="date_time"><br>
          <br>
          <input type="submit" value="Submit"><br>
          <br>
        </form>
      </div>
    </div>
  </body>
</html>
